@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a:active,
a:visited {
	text-decoration: none;
	color: darkgrey;
}

body {
	background-color: #890B68;
}

header {
	background-color: #590844;
	margin: -16px -8px 0;
	padding: 8px;
}

h1 {
	color: white;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 4em;

	margin: 16px;
}

.button-group {
	width: 80%;
	margin: 100px auto 0;
}

.button-group a {
	display: inline-block;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 2em;

	margin: 16px;
	padding: 24px;
	width: auto;

	background-color: #fff;
	box-shadow: 10px 10px 0 rgba(0,0,0,0.3);
	border-radius: 10px;
	text-decoration: none;
}

.button-group a:hover {
	background-color: #B23697;
	color: #fff;
}

.button-group i {
	margin-right: 6px;
}